{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

{% assign page = pages.frontpage %}

{% assign collection = collections.frontpage %}
<div class="row">
	<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-5">
	{% for product in collection.products %}
		{% include 'product-loop' %}
	{% endfor %}
	</ul>
 </div>